#{extends 'main.html' /}
#{set title : 'Vinodh' /}
<!DOCTYPE html>

<html>
<head><script src="@{'/public/stylesheets/main.css'}"></script></head>
<h1> On the way to full fledged application using PLAY 1.2.5 on Google App Engine.</h1>
<br><br><br><br>
<h2>Developed by : Vinodh Thiagarajan</h2>
<br><br><h3>Website under construction.</h3><br><br>
<h1>My Current Learnings:</h1>

<h1><a href="/JQueryAnimate"> JQuery Animate Tutorial Implementation</a></h1>
<h1><a href="/HOFF"> Help Our Furry Friend Tutorial Implementation</a></h1>
<h1><a href="/JumpForJoy"> Jump for Joy Tutorial Implementation </a></h1>
</html>